parameters:
  index: test-index
  total_count: 8841823
  bulk_size: 1000
  clients: 8
tasks:
  - name: create-index
    payload: index.json
    delete: true
  - name: update-settings
    type: request
    method: PUT
    url: /_cluster/settings
    payload: setting.json
  - name: ingest
    script: generator.py
    parameters: 
      total_count: 8841823
    sleep: 10
  - name: forcemerge
    type: request
    method: POST
    url: /{{index}}/_forcemerge?max_num_segments=1
  - name: search
    script: search_generator.py
    parameters: 
      total_count: 6980
      clients: 1
    recall:
      truth_file: /home/ubuntu/opensearch-sparse-benchmark/data/iv_array.txt
      size: 10